@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,700;1,900&display=swap");
:root {
  --black: #222831;
  --gray: #393e46;
  --cyan: #00adb5;
  --white: #eeeeee;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Prompt", sans-serif;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
}

.heading {
  font-size: 2.2rem;
  color: var(--black);
}

.section__heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-block: 1rem;
}

.section__list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.section__item {
  min-width: 20rem;
  /* border: 1px solid black; */
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  display: grid;
  margin: 0.5rem;
}

.section__item > .title {
  background: var(--black);
  color: var(--white);
  padding: 0.5rem;
  font-size: 1.2rem;
}

.section__links {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.section__link {
  display: inline-block;
  font-size: 1rem;
  /* padding: 0.5rem; */
  color: var(--cyan);
  text-decoration: none;
}

.section__link:hover {
  color: var(--gray);
}
