@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&display=swap");
:root {
  --black: #222831;
  --gray: #393e46;
  --cyan: #00adb5;
  --white: #eeeeee;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Prompt", sans-serif;
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
}

\ .heading {
  font-size: 3rem;
  color: var(--black);
}

.section__heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-block: 1rem;
}

.section__item {
  list-style: none;
}

.section__link {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--cyan);
  text-decoration: none;
}

.section__link:hover {
  color: var(--gray);
}
